{{ define "title" }}About{{ end }}
{{ define "main" }}
  <div class="snippet">
    <div class="metadata">
      <strong>So who am i really</strong>
    </div>
    <pre><code>Lorem ipsum blablabla</code></pre>
  </div>
{{ end }}
