{{ define "title" }}Change Password{{ end }}
{{ define "main" }}
  <form action="/user/account/password" method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
    <div>
      <label>Current Password:</label>
      {{ with .Form.FieldErrors.curPass }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="password" name="curPass" />
    </div>
    <div>
      <label>New Password:</label>
      {{ with .Form.FieldErrors.newPass }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="password" name="newPass" />
    </div>
    <div>
      <label>Confirm the password:</label>
      {{ with .Form.FieldErrors.newPassConfirm }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="password" name="newPassConfirm" />
    </div>
    <div>
      <input type="submit" value="ChangePassword" />
    </div>
  </form>
{{ end }}
